* {
    padding: 0;
    margin: 0;
}

.header{
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 10vh;
    font-family: monospace;
    background-color: #040a0f;
    box-shadow: 8px 4px 10px #040a0f;
}

.header .logo{
    width: 30%;
    color: #3191ff;
    margin-left: 10vh;
    line-height: 10vh;
}
.header .logo h1{
    float: left;
}
.header .menu{
    width: 70%;
    float: left;
}
.header .menu ul{
    display: block;
    position: fixed;
    font-size: 18px;
    right: 0;
}
.header .menu ul li{
    line-height: 10vh;
    list-style: none;
    margin-right: 10vh;
    float: left;
}
.header .menu ul li a{
    text-decoration: none;
    color: #3191ff;
}
.header .menu ul li a:hover{
    color: #09ffff;
}
.footer{
    width: 100%;
    height: 20vh;
    position: static;
    bottom: 0;
    padding-top: 10vh;
    background-color: #040a0f; 
    box-shadow: 0 2px 40px #040a0f;
    z-index: 3;
}
.footer .bg-img{
    background-image: url(../images/cross_bottom.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
}





.wrapper {
    max-width: 600px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 0 5px 15px #040a0f;
    padding: 10vh;
    font-family: monospace;
}

.wrapper .title {
    font-size: 28px;
    font-weight: bolder;
   
    color: #4c69e1;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
    margin-top: 4vh;
    align-items: center;
}

.wrapper .form .inputfield label {
    width: 40vh;
    color: #333858;
    font-size: 16px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
    width: 30%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
    width: 50%;
    height: 125px;
    resize: none;
}

.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 30%;
    height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .form .inputfield .btn {
    width: 30%;
    padding: 8px 10px;
    font-family: monospace;
    font-size: 17px;
    border: 0px;
    box-shadow: 5px 5px 5px gray;
    background-color: #4c69e1;
    color: #040a0f;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 65%;
    margin-top: 3vh;
}

.wrapper .form .inputfield .btn:hover {
    color: #333858;
    background-color:#09ffff ;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper .form .inputfield label {
        margin-bottom: 5px;
    }
}